@use '../../../../../../../assets/scss/util/rem-mixin' as *;
@use '../../../../../../../assets/scss/settings' as *;

.account-content-wrapper__container {
    display: flex;
    gap: 1.5rem;
    flex: 1 1 auto;
    min-height: 0;
}

.account-content-wrapper__section {
    display: flex;
    flex-direction: column;
    background: $bg-primary;
    border: 1px solid $border-secondary;
    overflow: hidden;
    border-radius: rem($radius-md);
    min-height: 0;

    &--members {
        width: 60%;
        flex: 1 1 auto;
        min-height: 0;
    }

    &--publications {
        width: 40%;
        flex: 1 1 auto;
        min-height: 0;
    }
}

app-publications {
    height: 100%;
}
